@import "reset.css";

* {
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-image: url("../images/pexels-photo-143642.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #262626;
    padding: 20px 30px;
    color: white;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu .menu-item {
    display: inline-block;
    margin: 20px 0;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
}

.menu .menu-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

.nav-bar .brand-btn {
    font-family: 'Patrick Hand', cursive;
    font-size: 32px;
}

.nav-bar .contact-btn {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
}
.nav-bar>a {
    margin: 0 10px;
}